.rodape {
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    padding: 2rem;
}

.rodape h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}